 html {
    height: 100%;
    width: 100%;
  }
  body {
      display: flex;
  }
  .col {
      width: 200px;
      min-height: 100px;
      padding: 20px 5px;
      background-color: #f2eeee;
      border-radius: 5px;
      margin: 10px;
      
  }
  
  .draggable {
      height: 40px;
      margin: 10px 0;
      border-radius: 5px;
      background-color: #e7e4e4;
      user-select: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px
  }
  
  .draggable:hover {
      background-color: #ffbfbf;
  }
  
  .draggable:active {
      background-color: #06f1d2;
  }
  .close {
    width: 20px;
    height: 20px;

}
.add-text {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 190px;
}
.btn-add {
    border: none;
    border-radius: 2px ;
    width: 100px;
    height: 30px;
    background-color: green;
    color: white
}